body { background: #72073a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 12px; display: flex; }
.block-validator-0 { color: #9cfcab; font-size: 19px; margin-bottom: 5px; }
.block-user-1 { color: #cc62d7; font-size: 18px; margin-bottom: 5px; }
.block-cache-2 { color: #727312; font-size: 14px; margin-bottom: 5px; }
.block-cache-3 { color: #6515c7; font-size: 17px; margin-bottom: 5px; }
.block-order-4 { color: #2dfe74; font-size: 19px; margin-bottom: 5px; }
.block-invoice-5 { color: #f25721; font-size: 17px; margin-bottom: 5px; }